<div class="container">
	<div class="row">
		<div class="serie-detail">
			<div class="col-md-12">
				<h1 class="page-header"><%= @season.title %></h1>
			</div>
			<div class="col-sm-3">
				<img class="img-responsive" src="/uploads/<%= @season.poster %>" alt="">
				<a class="btn btn-block btn-default" href="<%= season_trailer_path(@season.id) %>">Ver Trailer</a>
				<div class="stars">
					<% (1..@season.stars).each do |i| %>
						<i class="fa fa-star" aria-hidden="true"></i>
					<% end %>
					<% (1..(5 - @season.stars) ).each do |i| %>
						<i class="fa fa-star-o" aria-hidden="true"></i>
					<% end %>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="panel panel-default">
					<div class="panel-heading">
						<strong>Capítulos:</strong>
					</div>
					<ul class="list-group">
						<% @chapters.each do |c| %>
							<li class="list-group-item">
								<%= link_to chapter_path(c) do %>
									<%= c.chapterNumber %> - <%= c.title %>
								<%end%>
							</li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>