<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="page-header">Películas Disponibles <a href="<%= movie_genres_url %>" class="btn btn-default pull-right">Agrupar por Género</a></h1>
		</div>

		<% @movies.each do |movie| %>
        <%= render partial: "movie", object: movie %>
		<% end %>

	</div>
</div>

