<div class="embed-responsive embed-responsive-16by9">
	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= @movie.url_movie %>" frameborder="0" allowfullscreen></iframe>
</div>