<div class="container">
	<div class="row">
		<div class="movie-detail">
			<div class="col-md-12">
				<h1 class="page-header"><%= @movie.title %></h1>
			</div>
			<div class="col-sm-3">
				<img class="img-responsive" src="/uploads/<%= @movie.poster %>" alt="">
				<div class="stars">
					<% (1..@movie.stars).each do |i| %>
						<i class="fa fa-star" aria-hidden="true"></i>
					<% end %>
					<% (1..(5 - @movie.stars) ).each do |i| %>
						<i class="fa fa-star-o" aria-hidden="true"></i>
					<% end %>
				</div>
			</div>
			<div class="col-sm-8">
				<ul>
					<li>
						<strong>Año:</strong> <%= @movie.year %>
					</li>
					<li>
						<strong>Sinopsis:</strong> <%= @movie.synopsis %>
					</li>
					<li>
						<strong>Género:</strong> <%= @movie.genre %>
					</li>
					<li>
						<strong>Precio:</strong> <%= @movie.price %>
					</li>
					<li>
						<a class="btn btn-default" href="<%= movie_trailer_path(@movie.id) %>" role="button">Ver Trailer</a>
					</li>
          <li>
					<% if !@user.movies.include?(@movie) %>
							<a class="btn btn-primary" href="<%= movie_buy_path(@movie.id) %>" role="button">
                Comprar película (<%= @movie.price %> QP)
              </a>
          <% else %>
                <a class="btn btn-default" href="<%= movie_play_path(@movie.id) %>" role="button">
                  Ver Película
                </a>
					<% end %>
          </li>
				</ul>
			</div>
		</div>
	</div>
</div>
