<div class="jumbotron">
	<div class="container">
		<h1>Bienvenido a Qflix!</h1>
		<p>Disfruta de QFlix, películas en streaming en tu smartTV, consola, PC, Mac, móvil, tableta y más dispositivos.</p>
		<p>
      <a class="btn btn-primary btn-lg" href="<%= movies_url %>" role="button">Películas Disponibles</a>
      <a class="btn btn-primary btn-lg" href="<%= series_url %>" role="button">Series Disponibles</a>
    </p>
	</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">Estrenos</h1>
    </div>

    <% @movies.each do |movie| %>
        <%= render partial: "movies/movie", object: movie %>
    <% end %>
  </div>
</div>