<div class="col-md-3 col-xs-6">
  <div class="chapter chapter-<%= chapter.id %>">
    <a href="<%= chapter_path(chapter.id) %>">
      <img class="img-responsive" src="/uploads/<%= chapter.poster %>" alt="">
    </a>
    <div class="caption">
      <h4><%= link_to chapter.title, serie_path(chapter.id) %></h4>
      <div class="stars">
        <% (1..chapter.stars).each do |i| %>
            <i class="fa fa-star" aria-hidden="true"></i>
        <% end %>
        <% (1..(5 - chapter.stars) ).each do |i| %>
            <i class="fa fa-star-o" aria-hidden="true"></i>
        <% end %>
      </div>
      <span><%= chapter.genre %></span>
    </div>
  </div>
</div>