<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="page-header">Capítulos Disponibles</h1>
		</div>

		<% @chapters.each do |chapter| %>
        <%= render partial: "chapter", object: chapter %>
		<% end %>

	</div>
</div>

