<div class="col-md-3 col-xs-6">
  <div class="serie serie-<%= serie.id %>">
    <a href="<%= serie_path(serie.id) %>">
      <img class="img-responsive" src="/uploads/<%= serie.poster %>" alt="">
    </a>
    <div class="caption">
      <h4><%= link_to serie.title, serie_path(serie.id) %></h4>
      <div class="stars">
        <% (1..serie.stars).each do |i| %>
            <i class="fa fa-star" aria-hidden="true"></i>
        <% end %>
        <% (1..(5 - serie.stars) ).each do |i| %>
            <i class="fa fa-star-o" aria-hidden="true"></i>
        <% end %>
      </div>
      <span><%= serie.genre %></span>
    </div>
  </div>
</div>