﻿<div class="container">
	<div class="row">
		<div class="col-md-12">
			<% if @movies.blank? %>
				<h1 class="page-header">No se encontraron resultados de búsqueda para: <%= @search_text %></h1>
			<% else %>
				<h1 class="page-header">Resultados de búsqueda para: <%= @search_text %></h1>
			<% end %>
		</div>

		<% @series.each do |serie| %>
		    <%= render partial: "serie", object: serie %>
		<% end %>
		
	</div>
</div>