<div class="container">
	<div class="row">
		<div class="serie-detail">
			<div class="col-md-12">
				<h1 class="page-header"><%= @serie.title %></h1>
			</div>
			<div class="col-sm-3">
				<img class="img-responsive" src="/uploads/<%= @serie.poster %>" alt="">
				<div class="stars">
					<% (1..@serie.stars).each do |i| %>
						<i class="fa fa-star" aria-hidden="true"></i>
					<% end %>
					<% (1..(5 - @serie.stars) ).each do |i| %>
						<i class="fa fa-star-o" aria-hidden="true"></i>
					<% end %>
				</div>
			</div>
			<div class="col-sm-8">
				<ul>
					<li>
						<strong>Año:</strong> <%= @serie.year %>
					</li>
					<li>
						<strong>Sinopsis:</strong> <%= @serie.synopsis %>
					</li>
					<li>
						<strong>Género:</strong> <%= @serie.genre %>
					</li>
					<li>
						<strong>Precio:</strong> <%= @serie.price %>
            <%= form_tag(serie_pay_path, method: "post", class: "navbar-form navbar-right") do %>
                <input type="hidden" name="qpoints" value=<%= @serie.price %>>
                <button type="submit" id="buy-button" class="btn btn-primary">
                  Pagar Serie: <%= @serie.price %> QP
                </button>
            <% end %>
					</li>
					<li>
						<a class="btn btn-default" href="<%= serie_trailer_path(@serie.id) %>" role="button">Ver Trailer</a>
					</li>
				</ul>
			</div>
			<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-12">
					<h2 class="page-header">Seasons:</h2>
				</div>
				<% @seasons.each do |t| %>
					<div class="col-sm-2">
						<%= link_to season_path(t) do %>
							<img class="img-responsive" src="/uploads/<%= t.poster %>" alt="">
						<%end%>
					</div>
				<% end %>
			</div>
			</div>
		</div>
	</div>
</div>