<!DOCTYPE html>
<html>
	<head>
		<title>Qflix</title>
		<%= favicon_link_tag %>
		<%= stylesheet_link_tag 'bootstrap', 'styles', media: 'all', 'data-turbolinks-track' => true %>
		<link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.css">
		<%= javascript_include_tag 'application', 'bootstrap', 'default', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="page">
			<header>
				<nav class="navbar navbar-inverse navbar-static-top">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="/">
								<img alt="Brand" src="/images/logo.png">
							</a>

						</div>
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<form class="navbar-form navbar-left" role="search" method="GET" action="busqueda">
								<div class="form-group">
									<input type="text" class="form-control" id="search-input" name="busqueda" placeholder="Buscar por título, sinopsis o género...">
								</div>
								<button type="submit" id="search-button" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
							</form>
							<ul class="nav navbar-nav navbar-right">
								<li>
									<a style='color:white' id="perfil" href="<%= profile_path %>">
                    <%= @user.username %> (<%= @user.qpoints %> QP)
                  </a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</header>

			<%= yield %>

			<footer class="footer">
				<div class="container">
					<p class="text-muted">Sitio desarrollado por Alan Matkorski, Alejandro Rossi, Nahuel Benítez, Nicolás Pintos, Noel Zapatero y Leandro Di Lorenzo</p>
				</div>
			</footer>
		</div>
	</body>
</html>
